
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/*
*.class
*.iml
.idea/codeStyles/codeStyleConfig.xml
target/classes/META-INF/inaugural.soliloquy.gamestate.kotlin_module
target/mvn-repo/disorg/soliloquy/inaugural.soliloquy.gamestate/maven-metadata.xml.sha1
target/mvn-repo/disorg/soliloquy/inaugural.soliloquy.gamestate/maven-metadata.xml.md5
target/mvn-repo/disorg/soliloquy/inaugural.soliloquy.gamestate/maven-metadata.xml
target/mvn-repo/disorg/soliloquy/inaugural.soliloquy.gamestate/0.0.1/inaugural.soliloquy.gamestate-0.0.1.pom.sha1
target/mvn-repo/disorg/soliloquy/inaugural.soliloquy.gamestate/0.0.1/inaugural.soliloquy.gamestate-0.0.1.pom.md5
target/mvn-repo/disorg/soliloquy/inaugural.soliloquy.gamestate/0.0.1/inaugural.soliloquy.gamestate-0.0.1.pom
target/mvn-repo/disorg/soliloquy/inaugural.soliloquy.gamestate/0.0.1/inaugural.soliloquy.gamestate-0.0.1.jar.sha1
target/mvn-repo/disorg/soliloquy/inaugural.soliloquy.gamestate/0.0.1/inaugural.soliloquy.gamestate-0.0.1.jar.md5
target/mvn-repo/disorg/soliloquy/inaugural.soliloquy.gamestate/0.0.1/inaugural.soliloquy.gamestate-0.0.1.jar
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/inaugural.soliloquy.gamestate-0.0.1.jar
