
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/*
*.class
*.iml
.idea/codeStyles/codeStyleConfig.xml
target/classes/META-INF/inaugural.soliloquy.gamestate.kotlin_module
